.wrapper {
  margin-top: 40px;
  display: flex;
  flex-direction: column;

  .select {
    width: 100%;
  }
}

.bodyWrapper {
  h2 {
    padding: 10px 0;
  }
  label {
    display: flex;
    align-items: center;
    :first-child {
      padding-right: 20px;
    }
    p {
      font-weight: 700;
    }
  }
}

.buttonSave {
  height: 42px;
  padding: 0 30px;
  margin: 0 10px;
}

.addButton {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.filtres {
  margin: 10px 0;
  display: flex;
  align-items: center;
  .counter {
    width: 150px;
    margin-left: 20px;
    font-weight: 500;
    font-size: 14px;
  }
}

.flex {
  display: flex;
  align-items: center;
}

.buttonLink {
  width: 220px;
  text-align: center;
  padding: 8px 20px;
  font-size: 14px;
  margin-left: 40px;
  background-color: #3b5fdf;
  color: white;
  font-weight: 500;
  border-radius: 5px;
}
