.main {
  min-height: 90vh;
  margin: 0 auto;
  width: 100%;
  max-width: 1400px;
  padding: 5px 20px;

  .center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    .loginWrapper {
      padding: 30px;
      border-radius: 15px;
      background-color: rgb(226, 226, 226);
    }
  }
}
