.wrapper {
  width: 90%;
  margin: 0 auto;
  padding: 20px 40px;
  margin-bottom: 20px;
  .title {
    padding-bottom: 20px;
    cursor: pointer;
    font-weight: 500;
    font-size: 24px;
    transition: color 0.05s ease-out 100ms;
    &:hover {
      color: #1677ff;
      text-decoration: underline;
    }
  }
  .previewText {
    padding-top: 20px;
    font-size: 14px;
    color: rgb(45, 45, 45);
    a {
      color: #1677ff;
    }
  }
  .bottomBlock {
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    font-weight: 500;
  }
  background-color: #f8f8f8;
  .imageContainer {
    width: 100%;

    max-height: 300px;
    > div {
      position: unset !important;
    }

    .image {
      max-height: 300px;
      object-fit: contain;
      width: 100% !important;
      position: relative !important;
      height: unset !important;
    }
  }
}

@media screen and (max-width: 750px) {
  .wrapper {
    padding: 15px 20px;
    width: 100%;
    .title {
      font-size: 18px;
    }
    .previewText {
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 450px) {
  .wrapper {
    .title {
      font-size: 16px;
    }
    .previewText {
      font-size: 13px;
    }
  }
}
