.backgroundWrapper {
  width: 30vw;

  height: 25vw;
  min-height: 280px;
  min-width: 340px;
  max-height: 347px;
  max-width: 417px;
  margin: 10px;
  position: relative;
  .contentStyle {
    width: 100%;
    height: 100%;
    position: relative;
    img {
      height: 100%;
      border-radius: px;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  .bannerText {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 0;
    color: white;
    padding: 15px 20px;
    width: 100%;
    font-size: 1.2rem;
    .underText {
      font-size: 12px;
      padding-top: 10px;
      display: flex;
      justify-content: space-between;
    }
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
    .flex {
      display: flex;
      align-items: center;
    }
    .textWithIcon {
      background: rgba(0, 0, 0, 0.4);
      padding: 5px 10px;
      border-radius: 25px;
      margin-right: 10px;
      img {
        margin-right: 5px;
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .backgroundWrapper {
    .bannerText {
      font-size: 1rem;
    }
  }
}
