.wrapper {
  max-width: 400px;
  max-height: 490px;

  background: #f8f8f8;
  margin-top: 20px;
  cursor: pointer;
}

.imageWrapper {
  width: 400px;
  height: 250px;
  position: relative;
  img {
    height: 100%;
    border-radius: px;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.text {
  padding: 20px 20px;
  .date {
    font-size: 12px;
    color: #6a6a6a;
  }
  .title {
    font-weight: 500;
    margin-top: 5px;
  }
}

@media screen and (max-width: 750px) {
  .wrapper {
    max-width: 3200px;
    max-height: 390px;

    background: #f8f8f8;
    margin-top: 20px;
    cursor: pointer;
  }

  .imageWrapper {
    width: 320px;
    height: 200px;
    position: relative;
  }

  .date {
    font-size: 10px;
  }
  .title {
    font-size: 14px;
  }
}
