.shadow {
  transition: all 0.1s ease-in;
  box-shadow: rgba(245, 245, 220, 0.7) 0px 10px 36px 0px,
    rgba(218, 218, 218, 0.06) 0px 0px 0px 1px;
}
.searchWrapper {
  .rub::after {
    content: " \20BD";
  }

  padding-top: 5px;
  z-index: 999;
  width: 17vw;
  min-width: 280px;
  max-width: 500px;
  position: relative;
  margin-right: 50px;
  .inputWrapper {
    position: relative;
    .searched {
      border-radius: 15px 15px 0 0;
      border-bottom: none;
    }
    input {
      width: 100%;
      padding: 6px 10px;
      padding-top: 7px;
      padding-left: 2rem;
      font-size: 13px;
      border-radius: 25px;
      outline: none;
      border: 1px solid rgb(184, 184, 184);
      transition: all 0.1s ease-in;
      &::placeholder {
        color: rgb(184, 184, 184);
      }
      &:hover {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
      }
    }
    .icon {
      cursor: pointer;
      padding: 4px;
      position: absolute;
      box-sizing: border-box;
      top: 56%;
      left: 6px;
      transform: translateY(-50%);
    }
  }
  .dropDown {
    position: absolute;
    background: white;
    width: 100%;
    padding: 6px 10px;
    padding-top: 7px;
    padding-left: 1rem;
    border-radius: 0 0 15px 15px;
    border: 1px solid rgb(184, 184, 184);
    border-top: none;
    max-height: 450px;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 0px; /* width of the entire scrollbar */
    }
    &::-webkit-scrollbar-track {
      background: rgb(206, 206, 206); /* color of the tracking area */
    }
    &::-webkit-scrollbar-thumb {
      background-color: blue; /* color of the scroll thumb */
      border-radius: 20px; /* roundness of the scroll thumb */
      border: 3px solid orange; /* creates padding around scroll thumb */
    }
    .empty {
      padding-top: 5px;
      font-weight: 500;
      font-size: 12px;
    }
    ul {
      list-style: none;
      li {
        font-size: 13px;
        display: flex;
        justify-content: space-between;
        padding: 7px 0;
        &:hover {
          color: blue;
          text-decoration: underline;
        }
        :first-child {
          width: 75%;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
        :last-child {
          font-weight: 500;
        }
      }
    }
    .searchDropLabel {
      padding-bottom: 5px;
      color: gray;
      font-size: 12px;
    }
  }
}

@media screen and (max-width: 1000px) {
  .searchWrapper {
    display: none;
  }
}
