.productType {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  p {
    cursor: pointer;
    margin: 0 40px;
    font-weight: 600;
    font-size: 20px;
  }
}

.slideButton {
  width: 40px;
  height: 40px;
  background: red;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  background: #ffffff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.08);
}

.caurusel {
  padding: 0 30px;
}

.videoBlockWrapper {
  h2 {
    padding: 10px 0;
    padding-top: 20px;
  }
  min-height: 200px;
  max-height: 940px;
  .videoBlock {
    position: relative;
    padding-top: 56.25%;
  }
}

.contentStyle {
  font-family: "Montserrat", sans-serif !important;
  color: #fff;
  text-align: center;
  z-index: -1;
}

.rubrics {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;

  .rubricWrapper {
    margin: 20px 50px;
    position: relative;
    transition: box-shadow 0.3s ease-in-out;
    width: 365px;
    &:hover {
      box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
    }
    .fillImage {
      max-width: 365px;
      max-height: 365px;
      min-width: 280px;
      position: relative;
      width: 100%;
      height: 80vh;
      img {
        height: 100%;
        border-radius: px;
        width: 100%;
        object-fit: fill;
        object-position: center;
      }
    }
  }
}

.backgroundWrapper {
  position: relative;
}

.bannerText {
  position: absolute;

  height: 18%;
  top: 30px;
  width: 50%;
  color: white;

  display: flex;
  align-items: center;
  cursor: pointer;
  p {
    font-size: 16px;
    padding: 0 15px;
  }
}

.caruselDots {
  display: none;
  justify-content: center;
  span {
    display: block;
    width: 0.6rem;
    height: 0.6rem;
    background: rgb(216, 216, 216);
    border-radius: 25px;
    margin: 5px;
  }
}

.activeDot {
  background: rgb(96, 96, 96) !important;
}

@media screen and (max-width: 990px) {
  .rubrics {
    .rubricWrapper {
      &:hover {
        box-shadow: none;
      }
      margin: 10px 10px;
      position: relative;

      width: 365px;
    }
    .bannerText {
      top: 40px;
      p {
        font-size: 14px;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .productType {
    p {
      font-size: 16px;
    }
  }
  .videoBlockWrapper {
    h2 {
      font-size: 16px !important;
    }
  }

  .slideButton {
    display: none;
  }
  .caruselDots {
    display: flex;
  }
}

@media screen and (max-width: 630px) {
  .caurusel {
    padding: 0 5px;
  }
}
@media screen and (max-width: 450px) {
  .bannerText {
    p {
      font-size: 12px;
    }
  }
}

@media screen and (max-width: 360px) {
  .rubrics {
    .rubricWrapper {
      margin: 0;
      position: relative;

      width: 310px;
    }
    .bannerText {
      top: 40px;
      p {
        font-size: 14px;
      }
    }
  }
  .bannerText {
    p {
      font-size: 11px;
      width: 100%;
    }
  }
}

@media screen and (max-width: 970px) {
  .backgroundWrapper {
    margin: 10px 0 !important;
  }
}
